* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #ccc;
}

.title, .dsc {
      text-align: center;
}

.container {
    margin: 0 auto;
    width: 1200px;

}

.header {
    background-color: #fff;
    height: 150px;
    margin-top: 150px;
}

.flex{
    display: flex;
}



.menu{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
    .menu-link{
       display: block;
       text-decoration: none;
       padding: 15px;
       background-color: darkmagenta;
       color: #fff;
       text-align: center;
       font-size: large;
       text-transform: uppercase;
       font-weight: bold;
       border-radius: 10px;
       border: 1px solid transparent;

    }

.menu-link:hover {
    color: darkmagenta;
    background-color: #fff;
    border: 1px solid darkmagenta;
}

